/*
!.gitignore
!.bashrc
!.vimrc
!.zshrc
!.xmobarrc
!.xinitrc

!/.zsh


!/.config
/.config/*

!/.config/nvim
!/.config/neofetch
!/.config/polybar
!/.config/kitty
!/.config/starship.toml

!/.xmonad
/.xmonad/*

!/.xmonad/xmonad.hs
